<div class="container">
    <div class="row">
        <div class="col-12">
            <h4>New Flight Form</h4>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label for="" class="form-label">Flight No</label>
            <input type="text" class="form-control" [(ngModel)]="flightObj.flightNumber"  placeholder="Enter Flight No" aria-label="Flight No">
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-3">
            <label for="" class="form-label">Scheduled Date</label>
            <input type="date" class="form-control" [(ngModel)]="flightObj.travelDate" placeholder="Enter Scheduled Date" aria-label="Scheduled Date">
        </div>
        <div class="col-3">
            <label for="" class="form-label">Departure Time</label>
            <input type="text" class="form-control" [(ngModel)]="flightObj.departureTime" placeholder="Enter Departure Time" aria-label="Departure Time">
        </div>
        <div class="col-3">
            <label for="" class="form-label">Arrival Time</label>
            <input type="text" class="form-control" [(ngModel)]="flightObj.arrivalTime" placeholder="Enter Arrival Time" aria-label="Arrival Time">
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-4">
            <label for="" class="form-label">Select Depature Airport</label>
            <select class="form-select" [(ngModel)]="flightObj.departureAirportId">
                <option [value]="">Select Depature Airport</option>
                <option *ngFor="let airport of airportList" [value]="airport.airportId">{{airport.airportName}},{{airport.cityName}}</option>
            </select>
        </div>
        <div class="col-4">
            <label for="" class="form-label">Select Arrival Airport</label>
            <select class="form-select" [(ngModel)]="flightObj.arrivalAirportId">
                <option [value]="">Select Arrival Airport</option>
                <option *ngFor="let airport of airportList" [value]="airport.airportId">{{airport.airportName}},{{airport.cityName}}</option>
            </select>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-3">
            <label for="" class="form-label">Total Seats</label>
            <input type="text" class="form-control" [(ngModel)]="flightObj.totalSeats" placeholder="Enter Total Seats" aria-label="Total Seats">
        </div>
        <div class="col-3">
            <label for="" class="form-label">Ticket Price</label>
            <input type="number" class="form-control" [(ngModel)]="flightObj.price" placeholder="Enter Ticket Price" aria-label="Ticket Price">
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-3 text-center">
            <button type="submit" class="btn btn-secondary">Reset</button>
        </div>
        <div class="col-3 text-center">
            <button type="submit" class="btn btn-success" (click)="loadFlight()">Create Flight</button>
        </div>
    </div>


</div>